<div class="page">

    <form class="login-form" method="post" asp-action="Login">

        <h4>ورود </h4><br>


        <input placeholder="نام کاربری" type="text" name="UserName" value="" required><br>

        <input placeholder="رمز عبور" type="password" name="Password" value="" required><br><br>
        <button type="send" class="login-btn">ورود</button>

        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">@ViewBag.SuccessMessage</div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }


    </form>
</div>

